apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: collector-shop-full
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:bamekakenang/collector-shop-full.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: collector-shop
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
